<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exa.companyclient"
    >
    <!--    android:sharedUserId="android.uid.system"-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/Theme.CompanyDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pathlist" />
        </provider>

        <receiver
            android:name=".provider.MediaScannerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED" />
                <action android:name="com.media.mine.finish" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.exa.companyclient.ACTION_OPEN_CLIENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".common.MAidlClient"
            android:exported="true" />
    </application>

    <queries>
        <package android:name="com.gxa.car.service.location.TestService" />
    </queries>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
</manifest>