<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="android.uid.system">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:directBootAware="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompanyDemo">
        <activity
            android:name="com.raite.launcher.ui.TestActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="com.raite.launcher.ui.SecondaryHomeActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density"
            android:exported="true"
            android:launchMode="singleTop"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SECONDARY_HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.raite.launcher.ui.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|colorMode|density"
            android:exported="true"
            android:launchMode="singleTask"
            android:resumeWhilePausing="true"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarLauncher"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:exported="true"
            android:launchMode="singleInstance"
            android:priority="1000"
            android:screenOrientation="landscape"
            android:theme="@style/CarLauncher"
            android:windowSoftInputMode="adjustNothing">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.HOME" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.MONKEY" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>