<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exa.companydemo"

    tools:ignore="ManifestResource">
    <!--    android:sharedUserId="@string/sharedUserId"-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:directBootAware="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompanyDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|locale"
            android:exported="true"
            android:theme="@style/MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socket.SocketActivity"
            android:exported="true" >
<!--            <intent-filter android:priority="1000">-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".WebActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".carotatest.CarOtaTestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".toasttest.ToastTestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".wifi.WifiActivity"
            android:theme="@style/WifiActivity" />
        <activity
            android:name=".activityview.ActivityViewActivity"
            android:exported="false" />
        <activity
            android:name=".activityview.StartActivityViewActivity"
            android:exported="false" />
        <activity
            android:name=".MDialogActivity"
            android:exported="true"
            android:theme="@style/PermissionDialog" />
        <activity
            android:name=".DemoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="space.syncore.cockpit.soundeffect.soundeffectactivity.AdigoSoundActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/PermissionDialog">
        </activity>
        <activity
            android:name=".image.ImageUtilActivity"
            android:exported="true">
        </activity> <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" -->
        <activity
            android:name=".locationtest.LocationActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
            android:exported="true">
        </activity>
        <activity
            android:name=".TestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".inputmethod.InputMethodSettingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".pms.PmsActivity"
            android:exported="false" />
        <activity
            android:name=".SystemUITestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".common.AppInfoActivity"
            android:exported="true"
            android:theme="@style/AppInfoActivity" />
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".musicload.MediaLoadActivity"
            android:exported="true" />

        <provider
            android:name=".mediaprovider.MMediaProvider"
            android:authorities="${applicationId}.media.provider"
            android:exported="true"
            android:multiprocess="false">
            <grant-uri-permission android:pathPrefix="/customer/" />
            <!-- 指定需要访问路径需要读写权限 pathPrefix属性指定路径的起始部分 -->
            <path-permission
                android:pathPrefix="/customer/"
                android:readPermission="android.permission.READ_EXTERNAL_STORAGE"
                android:writePermission="android.permission.WRITE_EXTERNAL_STORAGE" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pathlist" />
        </provider>
        <!--
        这里主要的字段为 authorities ，他是ContentProvider的唯一标识。
        permission，它分为 读权限，和写权限 对应为 android:readpermission 和
        android:writepermission 。 multiprocess如果设置为true标识每个调用进程都拥有一个示例，负责只有所有进程只有一个示例。process字段使得它运行在一个名为com.blueberry.process1的进程中

        grant-uri-permission标明可被授权的一个或多个数据子集的路径部分。 path 属性指定完整路径，只能对该路径指定部分的数据子集进行授权。 pathPrefix属性指定路径的起始部分，只能对那些以此为路径前缀的数据进行授权。 pathPattern属性也指定完整路径，只是可包含以下通配符：
        星号（'*'）匹配紧随其前字符的0次或多次出现。
        句点加星号（“.*”）匹配任何字符的0次或多次出现
        -->
        <receiver
            android:name=".mediaprovider.MediaScannerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
            </intent-filter>
        </receiver> <!-- <receiver -->
        <!-- android:name=".broadcast.BootReceiver" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name="com.zlw.main.recorderlib.recorder.RecordService"
            android:exported="true" />
        <service
            android:name=".service.DemoService"
            android:enabled="true"
            android:exported="true"
            android:process="com.exa.companydemo.demoservice" />
        <service
            android:name=".service.MDialogService"
            android:enabled="true"
            android:exported="true"
            android:process="com.exa.companydemo.MDialogService" />
        <service
            android:name=".mediaprovider.MediaScannerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".common.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".accessibility.MyAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessible_service_config" />
        </service>
        <service
            android:name=".service.MAidlService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.LOCATION_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".inputmethod.MInputMethodService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter android:priority="1">
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

    <permission
        android:name="android.permission.ACCESS_BROADCAST_RADIO"
        android:protectionLevel="signature|privileged"
        tools:ignore="ReservedSystemPermission" />

    <permission
        android:name="android.permission.ACCESS_FM_RADIO"
        android:protectionLevel="signature|privileged"
        tools:ignore="ReservedSystemPermission" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_BROADCAST_RADIO"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission
        android:name="android.permission.UPDATE_FONTS"
        android:protectionLevel="signature|privileged"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--
 @deprecated @SystemApi Allows access to FM
         @hide This is not a third-party API (intended for system apps).
    -->
    <uses-permission
        android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 系统权限 -->
    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-permission android:name="com.gxatek.cockpit.datacenter.permission.DATA_CENTER" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

</manifest>